@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-200: #dcdfe0;
  --color-base-100: #f8fbfc;
  --color-base-content: black;
  --color-primary: #4fb8bf;
  --color-secondary: #9f97d8;
  --color-accent: #9c74cd;
}