@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merienda:wght@300..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-base-200: #0a0d37;
  --color-base-100: #101554;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-base-200: #0a0d37;
  --color-base-100: #f8fbfc;
  --color-base-content: black;
  --color-primary: #03fc20;
  --color-secondary: #fcc203;
  --color-accent: #9c74cd;
  /* --color-base-200: #dcdfe0;
  --color-base-100: #f8fbfc;
  --color-base-content: black;
  --color-primary: #4fb8bf;
  --color-secondary: #9f97d8;
  --color-accent: #9c74cd; */
}
@layer base {
  html {
    @apply scroll-smooth;
  }
}

.merienda-font {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}